<template name="build">
	<p class="text-justify">
		In the world of web applications, there is a set of features that can be found across the board. Things like User Accounts, Comments, Upvotes/Likes are some of the most important parts of a successful application. They are also the most uninnovative elements present. Using Meteor.js, we are able to implement these key components quickly, and reactivly. Comments will appear on the screen at the speed of a messenging app, without a single page refresh. 
	</p>
</template>