@blue: #336699;
@dark_blue: #0d447c;
@grey: #C0C0C0;
@off_white: #ececec;
@subtle_white: #F7F7F7;

h1, h2, h3, h4, h5, h6{
  color: @blue;
}

.image-border{
  border: 10px solid @subtle_white;
  box-shadow: 0 5px 5px -4px black;
}

.bold{
  font-weight: bold;
}

.white{
  color: white;
}

.navbar-default, .navbar-toggle{
  background-color: @blue;

  a{
    color: @off_white !important;

    :hover{
      cursor: pointer;
    }
  }
}
//
//@media all and (max-width: 768px){
//  .top-content{
//    margin-top: 230px;
//  }
//}
//@media all and (min-width: 769px){
//  .top-content{
//    margin-top: 120px;
//  }
//}

.top-content{
  margin-top: 75px;
}

#meteor-background{
  background: url("images/madison.png");
  background-size: cover;
  text-shadow: 0px 0px 10px black;

  h1, h4{
    color: @off_white;
  }
}

.portfolio-item{
  margin-bottom: 50px;
}

//PORTFOLIO
.blue-section{
  background-color: @blue;

  p{
    color: @off_white !important;
  }
}

.portfolio-picture{
  img{
    width: 100%;
  }
}

//THE TEAM
.team-image{
  border:1px black solid;
  padding:3px;
  margin:0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
