<template name="portfolio">
    <div data-scroll-index="3" class="section blue-section">
        <h2 class="text-center bold white">PORTFOLIO</h2>
        <div class="container">
            <div class="row portfolio-item">
                <div class="portfolio-description col-md-4">
                    <h2 class="white">Crowd Art</h2>
                    <p>
                        Our first client.  We cranked this prototype for the gang at <a href="https://www.facebook.com/crowdart">Crowd Art</a> in about 5 hours.  They use it routinely at their events to help their participants' make their voices heard.  The Crowd Art prototype is completely responsive: looks good on your phone and on your computer.  Try it out yourself.
                        <br />
                        <br />
                        * The folks at Crowd Art opted to host on a free server (hosted through Meteor.com).  As such, it's reliability isn't guaranteed.
                    </p>
                </div>
                <div class="portfolio-picture col-md-8">
                    <img src="images/crowdart.png" class="image-border" />
                </div>
            </div>
            <div class="row portfolio-item">
                <div class="portfolio-description col-md-4 col-md-push-8">
                    <h2 class="white">Lost & Found</h2>
                    <p>
                        Ever lost an item in the middle of a city you think you'd never find again? Have you ever found an item and wish to increase your karma by returning it to its owner?  We (Kyle and Alex) built this website in 36 hours with some old technology.  Now that we're using Meteor.js, the sky is the limit.
                    </p>
                </div>
                <div class="portfolio-picture col-md-8 col-md-pull-4">
                    <img src="images/lostandfound.png" class="image-border" />
                </div>

            </div>
            <div class="row portfolio-item">
                <div class="portfolio-description col-md-4">
                    <h2 class="white">Food Source</h2>
                    <p>
                        You're one stop shop for cheap, homecooked meals... and maybe food poisoning.  Alex and Anthony (one of our buddies) built this web app in 16 hours.  Alex took care of the front-end; Anthony the back-end.  We never launched it fully launched, because it's a lawsuit waiting to happen.  Still neat, nonetheless.
                    </p>
                </div>
                <div class="portfolio-picture col-md-8">
                    <img src="images/foodsource.png" class="image-border" />
                </div>
            </div>
        </div>
    </div>
</template>