<template name="home">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-scroll-nav="0">MADISON METEOR VENTURE PARTNERS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-scroll-nav="0">WELCOME</a></li>
                    <li><a data-scroll-nav="1">WHAT WE DO</a></li>
                    <li><a data-scroll-nav="2">PORTFOLIO</a></li>
                    <li><a data-scroll-nav="3">OUR TEAM</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="col-sm-12 top-content"></div>
    <div data-scroll-index="0" id="meteor-background" class="section">
        <div class="container">
            <h1>Madison Meteor Venture Partners</h1>
            <h4>We deliver professional, full-size and prototype web apps quickly and cheaply.</h4>
            <h4>We don't work for you, we work with you.</h4>
        </div>
    </div>
    <div class="col-sm-12 top-content"></div>
    <div data-scroll-index="1" class="section">
        <h2 class="text-center">WHAT WE DO</h2>
        <div class="container">
            <div class="col-md-4">
                <h3 class="text-center">DESIGN</h3>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-4">
                {{> commentList}}
                <h3 class="text-center">BUILD</h3>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">MAINTAIN</h3>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <h4>{{tableName}}</h4>
                {{> reactiveTable collection=tableColl settings=settings}}
                <div class="btn-group col-md-4 center-block" style="text-align:center">
                    <button class="btn btn-primary table-btn" id="btn-left" style="display:inline-block;"><i class="fa fa-lg fa-arrow-left"></i></button>
                    <button class="btn btn-primary table-btn" id="btn-right" style="display:inline-block;"><i class="fa fa-lg fa-arrow-right"></i></button>
                </div>    
            </div>
        </div>
    </div>
    <div class="col-sm-12 top-content"></div>
    <div data-scroll-index="2" class="section">
        <h2 class="text-center">PORTFOLIO</h2>
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <h3 class="text-center">Crowd Art (Prototype)</h3>
                <p>
                    Small prototype built for a Madison Start up "Crowd Art".  Completed in 5 hours.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 top-content"></div>
    <div data-scroll-index="3" class="section">
        <h2 class="text-center">OUR TEAM</h2>
        <div class="container">
            <div class="col-md-6">
                <div class="media">
                    <img style="border:1px black solid; padding:3px; margin:0px" src="images/alex.png" class="pull-left img-circle media-object">
                    <div class="media-body">
                        <h3 class="media-heading">Alex Faber</h3>
                        <p style="margin-left: 10px;">Yadda yadda yadda askldj lkasjdlks</p>
                        <i class="fa fa-github fa-2x"></i><a href="https://github.com/alexfaber2011"> alexfaber2011</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <img style="border:1px black solid; padding:3px; margin:0px" src="images/kyle.png" class="pull-left img-circle media-object">
                    <div class="media-body">
                        <h3 class="media-heading">Kyle McChesney</h3>
                        <p style="margin-left: 10px;">I am a Computer Science and Microbiology major at UW-Madison. Outside of Meteor.js and web dev, I work in bioinformatics for a cancer research lab. I also dabble in Android development. </p>
                        <i class="fa fa-github fa-2x"></i><a style="padding-right: 15px;" href="https://github.com/mbiokyle29"> mbiokyle29</a>
                        <i class="fa fa-plus-square fa-2x"></i><a href="http://www.kyle-mcchesney.org/resume"> Personal Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

