<template name="about">
	<div>
		<h1>Get to know the team</h1>
		<ul>
			<li>
				<div class="media">
					<img style="border:1px black solid; padding:3px; margin:0px" src="images/alex.png" class="pull-left img-circle media-object">
					<div class="media-body">
						<h3 class="media-heading">Alex Faber</h3>
						<p style="margin-left: 10px;">Yadda yadda yadda askldj lkasjdlks</p>
						<i class="fa fa-github fa-2x"></i><a href="https://github.com/alexfaber2011"> alexfaber2011</a>
					</div>
				</div>
			</li>
			<hr style="color: black;" />
			<li>
				<div class="media">
					<img style="border:1px black solid; padding:3px; margin:0px" src="images/kyle.png" class="pull-left img-circle media-object">
					<div class="media-body">
						<h3 class="media-heading">Kyle McChesney</h3>
						<p style="margin-left: 10px;">I am a Computer Science and Microbiology major at UW-Madison. <br> Outside of Meteor.js and web, I work in bioinformatics for a cancer research lab. <br> I also dabble in Android development. </p>
						<div class="col-md-4">
							<i class="fa fa-github fa-2x "></i><a href="https://github.com/mbiokyle29"> mbiokyle29</a>
						</div>
						<div class="col-md-4">
							<i class="fa fa-plus-square fa-2x"></i><a href="http://www.kyle-mcchesney.org/resume"> Personal Page</a>
						</div>
					</div>
				</div>
			</li>
			<hr style="color: black;" />
			<li>
				<div class="media">
					<img style="border:1px black solid; padding:3px; margin:0px" src="images/dickbutt.png" class="pull-left img-circle media-object">
					<div class="media-body">
						<h3 class="media-heading">Meteor js</h3>
						<p style="margin-left: 10px;">Yadda yadda yadda askldj lkasjdlks</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>