<template name="about">
	<div>
		<h3>Get to know the team</h3>
		<ul>
			<li>
				<div class="media">
					<img style="border:1px black solid; padding:3px; margin:0px" src="images/dickbutt.png" class="pull-left img-circle media-object">
					<div class="media-body">
						<h3 class="media-heading">Alex Faber</h3>
						<p style="margin-left: 10px;">Yadda yadda yadda askldj lkasjdlks</p>
					</div>
				</div>
			</li>
			<hr style="color: black;" />
			<li>
				<div class="media">
					<img style="border:1px black solid; padding:3px; margin:0px" src="images/dickbutt.png" class="pull-left img-circle media-object">
					<div class="media-body">
						<h3 class="media-heading">Kyle McChesney</h3>
						<p style="margin-left: 10px;">Yadda yadda yadda askldj lkasjdlks</p>
					</div>
				</div>
			</li>
			<hr style="color: black;" />
			<li>
				<div class="media">
					<img style="border:1px black solid; padding:3px; margin:0px" src="images/dickbutt.png" class="pull-left img-circle media-object">
					<div class="media-body">
						<h3 class="media-heading">Meteor js</h3>
						<p style="margin-left: 10px;">Yadda yadda yadda askldj lkasjdlks</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>