<template name="header">
    <div id="header">
        <div class="container clearfix">
        <div id="logo">
            <a><img src="images/logo.png"></a>
        </div>
        <div id="primary-menu">
            <div class="rs-menu"><i class="fa fa-align-justify"></i></div>
                <ul class="sf-js-enabled sf-arrows" id="main-menu">
                    <li class="{{ isActiveRoute 'home' 'current' }}">
                        <a class="sf-with-ul header_button" href="/" style="outline: 0;"><div>Home</div><span>Your public page</span></a>
                    </li>
                    <li class="{{ isActiveRoute 'admin' 'current' }}">
                        <a class="sf-with-ul header_button" href="{{pathFor 'admin'}}" style="outline: 0;"><div>Admin</div><span>Your administrative page</span></a>
                    </li>
                    <li class="{{ isActiveRoute 'hire' 'current' }}">
                        <a class="sf-with-ul header_button" href="{{pathFor 'hire'}}" style="outline: 0;"><div>Hiring</div><span>Let's build you a website</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>