<template name="header">
    <div id="header">
        <div class="container clearfix">
        <div id="logo">

            <a href="index.php" class="standard-logo"><img src="images/dickbutt.png" alt="CoWorker" title="CoWorker"></a>
            <a href="index.php" class="retina-logo"><img src="images/logo@2x.png" alt="CoWorker" title="CoWorker" height="120" width="204"></a>

        </div>


        <div id="primary-menu">


        <div class="rs-menu"><i class="fa fa-align-justify"></i></div>

        <ul class="sf-js-enabled sf-arrows" id="main-menu">

        <li class="current sub-menu"><a class="sf-with-ul" href="index.php"><div>Home</div><span>Let's Start here</span></a>

            <ul class="sf-js-enabled sf-arrows" style="display: none;">

                <li class="sub-menu"><a class="" href="#"><div>Sliders</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="index-layer.php"><div>Layer Slider</div></a></li>
                        <li><a href="index-revolution.php"><div>Revolution Slider</div></a></li>
                        <li><a href="index-3d.php"><div>3D Slider</div></a></li>
                        <li><a href="index-camera.php"><div>Camera Slider</div></a></li>
                        <li><a href="index-elastic.php"><div>Elastic Slider</div></a></li>
                        <li><a href="index-refine.php"><div>Refine Slider</div></a></li>
                        <li><a href="index-refine-thumbs.php"><div>Refine Slider - Thumbs</div></a></li>
                        <li><a href="index-flex.php"><div>Flex Slider</div></a></li>
                        <li><a href="index-flex-thumbs.php"><div>Flex Slider - Thumbs</div></a></li>
                        <li><a href="index-accordion.php"><div>Accordion Slider</div></a></li>
                        <li><a href="index-nivo.php"><div>Nivo Slider</div></a></li>
                        <li><a href="index-image.php"><div>Static Image</div></a></li>
                        <li><a href="index-video.php"><div>Static Video</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="#"><div>Layouts</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="index-minimal.php"><div>Home - Minimal</div></a></li>
                        <li><a href="index-layout2.php"><div>Home - Layout 2</div></a></li>
                        <li><a href="index-layout3.php"><div>Home - Layout 3</div></a></li>
                        <li><a href="index-portfolio.php"><div>Home - Portfolio</div></a></li>
                        <li><a href="index-blog.php"><div>Home - Blog</div></a></li>
                        <li><a href="index-sidebar.php"><div>Home - Sidebar</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="#"><div>Headers</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="index-flex.php"><div>Header 1</div></a></li>
                        <li><a href="header-2.php"><div>Header 2</div></a></li>
                        <li><a href="header-3.php"><div>Header 3</div></a></li>
                        <li><a href="header-4.php"><div>Header 4</div></a></li>
                        <li><a href="header-5.php"><div>Header 5</div></a></li>
                        <li><a href="header-6.php"><div>Header 6</div></a></li>
                        <li><a href="header-7.php"><div>Header 7</div></a></li>

                    </ul>

                </li>

            </ul>

        </li>
        <li class="sub-menu"><a class="sf-with-ul" href="#"><div>Features</div><span>Out of the Box</span></a>

            <ul class="sf-js-enabled sf-arrows" style="display: none;">

                <li><a href="#"><div><i class="fa fa-laptop"></i> Responsive Design</div></a></li>
                <li><a href="#"><div><i class="fa fa-eye"></i> Retina Ready</div></a></li>
                <li><a href="#"><div><i class="fa fa-picture-o"></i> Layer Slider</div></a></li>
                <li><a href="#"><div><i class="fa fa-gift"></i> Revolution Slider</div></a></li>
                <li><a href="#"><div><i class="fa fa-camera"></i> Custom Backgrounds</div></a></li>
                <li><a href="#"><div><i class="fa fa-lightbulb-o"></i> Custom Widgets</div></a></li>
                <li><a href="#"><div><i class="fa fa-calendar"></i> Coming Soon Page</div></a></li>
                <li><a href="#"><div><i class="fa fa-facebook-square"></i> Facebook Comments</div></a></li>
                <li><a href="#"><div><i class="fa fa-comment-o"></i> Disqus Comments</div></a></li>
                <li><a href="#"><div><i class="fa fa-plane"></i> Landing Page</div></a></li>
                <li><a href="#"><div><i class="fa fa-tint"></i> Unlimited Colors</div></a></li>
                <li><a href="#"><div><i class="fa fa-list-alt"></i> Unlimited Sidebars</div></a></li>
                <li><a href="#"><div><i class="fa fa-heart"></i> Unlimited Patterns</div></a></li>
                <li><a href="#"><div><i class="fa fa-columns"></i> Boxed &amp; Wide Layout</div></a></li>
                <li><a href="#"><div><i class="fa fa-hand-o-right"></i> Dark &amp; Light Footer</div></a></li>
                <li><a href="#"><div><i class="fa fa-pencil"></i> Google Fonts</div></a></li>
                <li><a href="#"><div><i class="fa fa-file-o"></i> PSD Files Included</div></a></li>
                <li><a href="#"><div><i class="fa fa-thumbs-up"></i> Bootstrap Compatible</div></a></li>
                <li><a href="#"><div><i class="fa fa-clock-o"></i> Dedicated Support</div></a></li>
                <li><a href="#"><div><i class="fa fa-info-circle"></i> Extended Docs</div></a></li>
                <li><a href="#"><div><i class="fa fa-star"></i> Clean &amp; Valid Code</div></a></li>

            </ul>

        </li>
        <li class="sub-menu"><a class="sf-with-ul" href="portfolio-4.php"><div>Portfolio</div><span>Our Awesome Works</span></a>

            <ul class="sf-js-enabled sf-arrows" style="display: none;">

                <li class="sub-menu"><a class="" href="portfolio-2.php"><div>2 Columns</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="portfolio-2.php"><div>Normal Filter</div></a></li>
                        <li><a href="portfolio-2-jp.php"><div>jQuery Pagination</div></a></li>
                        <li><a href="portfolio-2-hash.php"><div>Hash History</div></a></li>
                        <li><a href="portfolio-2-sidebar.php"><div>Sidebar Layout</div></a></li>
                        <li><a href="portfolio-2-sidebar-jp.php"><div>Sidebar W/Pagination</div></a></li>
                        <li><a href="portfolio-2-sidebar-hash.php"><div>Sidebar W/Hash History</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="portfolio-3.php"><div>3 Columns</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="portfolio-3.php"><div>Normal Filter</div></a></li>
                        <li><a href="portfolio-3-jp.php"><div>jQuery Pagination</div></a></li>
                        <li><a href="portfolio-3-hash.php"><div>Hash History</div></a></li>
                        <li><a href="portfolio-3-sidebar.php"><div>Sidebar Layout</div></a></li>
                        <li><a href="portfolio-3-sidebar-jp.php"><div>Sidebar W/Pagination</div></a></li>
                        <li><a href="portfolio-3-sidebar-hash.php"><div>Sidebar W/Hash History</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="portfolio-4.php"><div>4 Columns</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="portfolio-4.php"><div>Normal Filter</div></a></li>
                        <li><a href="portfolio-4-jp.php"><div>jQuery Pagination</div></a></li>
                        <li><a href="portfolio-4-hash.php"><div>Hash History</div></a></li>
                        <li><a href="portfolio-4-sidebar.php"><div>Sidebar Layout</div></a></li>
                        <li><a href="portfolio-4-sidebar-jp.php"><div>Sidebar W/Pagination</div></a></li>
                        <li><a href="portfolio-4-sidebar-hash.php"><div>Sidebar W/Hash History</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="portfolio-5.php"><div>5 Columns</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="portfolio-5.php"><div>Normal Filter</div></a></li>
                        <li><a href="portfolio-5-hash.php"><div>Hash History</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="portfolio-single.php"><div>Portfolio Single - Image</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="portfolio-single.php"><div>Half Layout</div></a></li>
                        <li><a href="portfolio-single-left.php"><div>Half Layout - Left</div></a></li>
                        <li><a href="portfolio-single-full.php"><div>Full Layout</div></a></li>
                        <li><a href="portfolio-single-full-left.php"><div>Full Layout - Left</div></a></li>
                        <li><a href="portfolio-single-sidebar.php"><div>Sidebar Layout</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="portfolio-single-gallery.php"><div>Portfolio Single - Gallery</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="portfolio-single-gallery.php"><div>Half Layout</div></a></li>
                        <li><a href="portfolio-single-gallery-left.php"><div>Half Layout - Left</div></a></li>
                        <li><a href="portfolio-single-full-gallery.php"><div>Full Layout</div></a></li>
                        <li><a href="portfolio-single-full-gallery-left.php"><div>Full Layout - Left</div></a></li>
                        <li><a href="portfolio-single-sidebar-gallery.php"><div>Sidebar Layout</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="portfolio-single-video.php"><div>Portfolio Single - Video</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="portfolio-single-video.php"><div>Half Layout</div></a></li>
                        <li><a href="portfolio-single-video-left.php"><div>Half Layout - Left</div></a></li>
                        <li><a href="portfolio-single-full-video.php"><div>Full Layout</div></a></li>
                        <li><a href="portfolio-single-full-video-left.php"><div>Full Layout - Left</div></a></li>
                        <li><a href="portfolio-single-sidebar-video.php"><div>Sidebar Layout</div></a></li>

                    </ul>

                </li>

            </ul>

        </li>
        <li class="sub-menu"><a class="sf-with-ul" href="#"><div>Pages</div><span>Inbuilt Templates</span></a>

            <ul class="sf-js-enabled sf-arrows" style="display: none;">

                <li class="sub-menu"><a class="" href="shop.php"><div>Shop</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="shop.php"><div>4 Columns</div></a></li>
                        <li><a href="shop-3.php"><div>3 Columns</div></a></li>
                        <li><a href="shop-2-sidebar.php"><div>2 Columns W/Sidebar</div></a></li>
                        <li><a href="shop-3-sidebar.php"><div>3 Columns W/Sidebar</div></a></li>
                        <li><a href="shop-single.php"><div>Single Product</div></a></li>
                        <li><a href="shop-single-sidebar.php"><div>Single Product W/Sidebar</div></a></li>

                    </ul>

                </li>
                <li><a href="about.php"><div>About Us</div></a></li>
                <li><a href="services.php"><div>Services</div></a></li>
                <li><a href="side-navigation.php"><div>Side Navigation</div></a></li>
                <li class="sub-menu"><a class="" href="#"><div>Page Styles</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="columns.php"><div>Full Width</div></a></li>
                        <li><a href="blog.php"><div>Right Sidebar</div></a></li>
                        <li><a href="left-sidebar.php"><div>Left Sidebar</div></a></li>

                    </ul>

                </li>
                <li><a href="team.php"><div>Team Members</div></a></li>
                <li><a href="faqs.php"><div>FAQs</div></a></li>
                <li class="sub-menu"><a class="" href="#"><div>Shortcodes</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="columns.php"><div>Columns &amp; Grids</div></a></li>
                        <li><a href="buttons.php"><div>Buttons</div></a></li>
                        <li><a href="animations.php"><div>Animations</div></a></li>
                        <li><a href="featured-box.php"><div>Featured Boxes</div></a></li>
                        <li><a href="tabs-toggle.php"><div>Tabs &amp; Toggles</div></a></li>
                        <li><a href="icons.php"><div>Styled Icons</div></a></li>
                        <li><a href="lists.php"><div>Styled Lists</div></a></li>
                        <li><a href="slider-carousel.php"><div>Sliders &amp; Carousel</div></a></li>
                        <li><a href="style-boxes.php"><div>Style Boxes</div></a></li>
                        <li><a href="label-badges.php"><div>Labels &amp; Badges</div></a></li>
                        <li><a href="navigation.php"><div>Navigation</div></a></li>
                        <li><a href="list-group.php"><div>List Groups</div></a></li>
                        <li><a href="panel.php"><div>Panels</div></a></li>
                        <li><a href="thumbnails.php"><div>Thumbnails</div></a></li>
                        <li><a href="pagination-progress.php"><div>Pagination &amp; Progess</div></a></li>
                        <li><a href="modal-popover.php"><div>Modals &amp; Popovers</div></a></li>
                        <li><a href="google-maps.php"><div>Google Maps</div></a></li>
                        <li><a href="responsive.php"><div>Responsive Visibility</div></a></li>
                        <li><a href="quotes.php"><div>Quotes &amp; Blockquotes</div></a></li>
                        <li><a href="media-embeds.php"><div>Media Embeds</div></a></li>

                    </ul>

                </li>
                <li><a href="comingsoon.php"><div>Under Construction</div></a></li>
                <li class="sub-menu"><a class="" href="landing-1.php"><div>Landing Page</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="landing-1.php"><div>Layout 1</div></a></li>
                        <li><a href="landing-2.php"><div>Layout 2</div></a></li>
                        <li><a href="landing-3.php"><div>Layout 3</div></a></li>
                        <li><a href="landing-4.php"><div>Layout 4</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="contact.php"><div>Contact Page</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="contact.php"><div>Layout 1</div></a></li>
                        <li><a href="contact-left.php"><div>Layout 2</div></a></li>
                        <li><a href="contact-right.php"><div>Layout 3</div></a></li>
                        <li><a href="contact-sidebar.php"><div>Layout 4</div></a></li>

                    </ul>

                </li>
                <li class="sub-menu"><a class="" href="pricing-1.php"><div>Pricing Tables</div></a>

                    <ul class="sf-js-enabled sf-arrows" style="display: none;">

                        <li><a href="pricing-1.php"><div>Style 1</div></a></li>
                        <li><a href="pricing-2.php"><div>Style 2</div></a></li>
                        <li><a href="pricing-3.php"><div>Style 3</div></a></li>
                        <li><a href="pricing-4.php"><div>Style 4</div></a></li>

                    </ul>

                </li>
                <li><a href="sitemap.php"><div>Sitemap</div></a></li>
                <li><a href="404.php"><div>Error 404</div></a></li>

            </ul>

        </li>
        <li class="sub-menu"><a class="sf-with-ul" href="blog.php"><div>Blog</div><span>Latest News</span></a>

            <ul class="sf-js-enabled sf-arrows" style="display: none;">

                <li><a href="blog.php"><div>Default Layout</div></a></li>
                <li><a href="blog-alt.php"><div>Alternate Layout</div></a></li>
                <li><a href="blog-full.php"><div>Full Layout</div></a></li>
                <li><a href="blog-full-alt.php"><div>Full Layout 2</div></a></li>
                <li><a href="blog-small.php"><div>Small Thumbs</div></a></li>
                <li><a href="blog-small-full.php"><div>Small Thumbs - Full</div></a></li>
                <li><a href="blog-single.php"><div>Single Post</div></a></li>
                <li><a href="blog-single-full.php"><div>Single Post - Full</div></a></li>
                <li><a href="blog-single-split.php"><div>Single Post - Split</div></a></li>

            </ul>

        </li>
        <li><a href="contact.php"><div>Contact</div><span>Get in Touch</span></a></li>

        </ul>


        </div>


        </div>
    </div>
</template>