<template name="commentItem">
	<li class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1" id="li-comment-1">
		<div id="comment-1" class="comment-wrap clearfix">
			<div class="comment-meta">
				<div class="comment-author vcard">
					<span class="comment-avatar clearfix">
						<!-- Should get our own image -->
						<img alt="" src="images/user.png" class="avatar avatar-60 photo" height="60" width="60">
					</span>
				</div>
			</div>
			<div class="comment-content clearfix">
				<div class="comment-author">
					<p>{{{name}}}<span>{{{dateString}}}</span></p>
				</div>
				<p>{{{comment}}}</p>
			</div>
			<div class="clear"></div>
		</div>
	</li>
</template>
