<template name="admin">
	<div id="admin">
		<h4>Welcome to your Admin page - Manage Site data in realtime!</h4>
		<br>
		<div class="text-center"> 
			<button class="btn btn-primary table-btn"><i class="fa fa-lg fa-arrow-left"></i></button>
			<button class="btn btn-primary table-btn"><i class="fa fa-lg fa-arrow-right"></i></button>
		</div>
		<br>
		{{#if displayComments}}
			<h4>{{currentTable}}</h4>
			{{> reactiveTable collection=comments settings=settingsComments}}
		{{else}} 
			{{#if displaySpecials}}
				<h4>{{currentTable}}</h4>
				{{> reactiveTable collection=specials settings=settingsSpecials}}
			{{else}}
				{{{tableInit}}}
			{{/if}}
		{{/if}}
	</div>
</template>