<template name="adminDemo">
	<div class="panel panel-primary" style="border-color: #369;">
		<div class="panel-heading" style="background-color: #369;">Adminstration Demo</div>
		<div class="panel-body">
			<h4>{{tableName}} Table</h4>
				<div class="btn-group">
					<button class="btn table-btn btn-primary" id="btn-left"><i class="fa fa-lg fa-arrow-left"></i></button>
					<button class="btn table-btn btn-primary" id="btn-right"><i class="fa fa-lg fa-arrow-right"></i></button>
				</div>
			{{> reactiveTable collection=tableColl settings=settings}}
		</div>
	</div>
</template>