<template name="hire">
	<div>
		<div class="col-md-6">
			<h1>What we offer</h1>
			<span class="fa-stack fa-3x pull-left" style="float: left;">
  				<i class="fa fa-circle fa-stack-2x"></i>
  				<i class="fa fa-bars fa-stack-1x fa-inverse"></i>
			</span><br>
			<h3>Fully interactive web applications</h3>
			<br>
			<span class="fa-stack fa-3x pull-left" style="float: left;">
  				<i class="fa fa-circle fa-stack-2x"></i>
  				<i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
			</span><br>
			<h3>Rapid protyping and development</h3>
			<br>
			<span class="fa-stack fa-3x pull-left" style="float: left;">
  				<i class="fa fa-circle fa-stack-2x"></i>
  				<i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
			</span><br>
			<h3>Responsive and mobile optimized</h3>
			<br>
			<span class="fa-stack fa-3x pull-left" style="float: left;">
  				<i class="fa fa-circle fa-stack-2x"></i>
  				<i class="fa fa-folder-open fa-stack-1x fa-inverse"></i>
			</span><br>
			<h3>Adminstrative CMS</h3>
			<br>
		</div>
		<div class="col-md-6">
			<h1>Get to know us</h1>
			<ul>
				<li>
					<div class="media">
						<img style="border:1px black solid; padding:3px; margin:0px" src="images/alex.png" class="pull-left img-circle media-object">
						<div class="media-body">
							<h3 class="media-heading">Alex Faber</h3>
							<p style="margin-left: 10px;">Yadda yadda yadda askldj lkasjdlks</p>
							<i class="fa fa-github fa-2x"></i><a href="https://github.com/alexfaber2011"> alexfaber2011</a>
						</div>
					</div>
				</li>
				<hr style="color: black;" />
				<li>
					<div class="media">
						<img style="border:1px black solid; padding:3px; margin:0px" src="images/kyle.png" class="pull-left img-circle media-object">
						<div class="media-body">
							<h3 class="media-heading">Kyle McChesney</h3>
							<p style="margin-left: 10px;">I am a Computer Science and Microbiology major at UW-Madison. Outside of Meteor.js and web dev, I work in bioinformatics for a cancer research lab. I also dabble in Android development. </p>
							<i class="fa fa-github fa-2x"></i><a style="padding-right: 15px;" href="https://github.com/mbiokyle29"> mbiokyle29</a>
							<i class="fa fa-plus-square fa-2x"></i><a href="http://www.kyle-mcchesney.org/resume"> Personal Page</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</template>